.footer {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2%; 
    box-sizing: border-box; 
    background-size: cover; 
    background-position: center; 
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.footer_content{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.redes{
    margin-top: 2em;
}

.redes a{ 
    margin: 5px;
    transition: 0.5s;
    font-size: 35px;
    color: #fff;
}

.redes a:hover{ 
    color: #7a8efa;
}

.content__img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.profile{
    width: 100px;
    border-radius: 50%;
}

.react{
    padding-top: 20px;
    height: 30px;
    pointer-events: none;
    user-select: none;
}
  
@media (prefers-reduced-motion: no-preference) {
    .react {
      animation: react-spin infinite 12s linear;
    }

}
  
@keyframes react-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@media (max-width:768px){
    .footer{
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .footer h1{
        text-align: center;
    }
}